@use '../../../../variables' as *;
.container{
    width: 100%;
    margin-top: 20px;
    
}
.title{
    color: $fontColor;
    margin: 10px 0;
}
.displayUebermich{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid $fontColor;
    display: flex;
    align-items: center;

    & .content{
        flex:4;
        color: $fontColor;
    }
    & .iconWrapper{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;

        & .icons{
            margin-right: 20px;
        }
    }
}
.formWrapper{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    
    & .uebermichForm{
        width: 100%;
        display: flex;
        flex-direction: column;

        & .formGroup{
            width: 100%;
            display: flex;
            flex-direction: column;
            & .label{
                color: $fontColor;
                margin: 2px 0;
            }
            & .myPerson{
                width: 100%;
            }
        }
        & .buttonWrapper{
            width: 100%;
            margin-top: 10px;

            & .mainButton{
                @include mainButton;
            }
        }
    }
}