<div class="container">
    <div class="backWrapper">
        <button class="goBack" (click)="goBack()">Zurück</button>
    </div>
    <div class="answerModuleWrapper" *ngIf="answerModule">
        <app-answer-module [answerData]="answerData" (closeAnswer)="handleAnswerClose()"></app-answer-module>
    </div>
    <div class="questionEditWrapper" *ngIf="editForumModule">
        <app-edit-forum-question [editQuestionData] ="editQuestionData" (closeEdit)="handleClose()"></app-edit-forum-question>
    </div>
    <div class="questionEditWrapper" *ngIf="editAnswerModule">
        <app-forum-answer-edit-module [editAnswerData] ="editAnswerData" (closeAnswerEdit)="handleAnswerEditClose()"></app-forum-answer-edit-module>
    </div>
    <div class="questionWrapper">
        <div class="fieldWrapper" *ngIf="singleForum$ | async as forum">
            <div class="nameAndTheme">
                <p class="username">{{forum.username}}</p>
                <p class="theme">{{forum.question_theme}}</p>
            </div>
            <div class="questionTextWrapper">
                <p class="question">{{getProcessedContent(forum.question)}}</p>
            </div>
            <div class="likes">
                <div class="hasLikes">
                    <span>{{forum.likes && forum.likes > 0 ? forum.likes: null}}</span>
                    <ng-icon class="icons" (click)="handleLikes(forum.id!, forum.user_id!, forum.dislike_ids!, forum.like_ids!)" name="matThumbUpOutline"></ng-icon>
                </div>
                <div class="hasDislikes">
                    <span>{{forum.dislikes && forum.dislikes > 0 ? forum.dislikes: null}}</span>
                    <ng-icon class="icons" (click)="handleDislikes(forum.id!, forum.user_id!, forum.dislike_ids!, forum.like_ids!)" name="matThumbDownOutline"></ng-icon>
                </div>
                <div [ngClass]="forum.solved ? 'solved': 'unsolved'">
                    <ng-icon name="matCheckBoxOutline"></ng-icon>
                </div>
                <div  class="icons" (click)="handleReply(forum.id!)">
                    <ng-icon name="matReplyOutline"></ng-icon>
                </div>
                <div *ngIf="user && user.id === forum.user_id || user && user.is_admin"  class="icons">
                    <ng-icon name="matEditOutline" (click)="handleQuestionEdit(forum)"></ng-icon>
                </div>
                <div *ngIf="user && user.is_admin"  class="icons">
                   <ng-icon name="matDeleteOutline" (click)="handleQuestionDelete(forum.id!)"></ng-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="answerWrapper">
        <div class="fieldWrapper" *ngFor="let answer of allAnswersToQuestion$ | async">
            <div class="name">
                <p class="username">{{answer.username}}</p>
            </div>
            <div class="questionTextWrapper">
                <p class="question">{{getProcessedContent(answer.answer)}}</p>
            </div>
            <div class="likes">
                <div class="hasLikes">
                    <span>{{answer.likes && answer.likes > 0 ? answer.likes: null}}</span>
                    <ng-icon  class="icons" (click)="handleAnswerLikes(answer.id!, answer.user_id, answer.dislike_ids!, answer.like_ids!)" name="matThumbUpOutline"></ng-icon>
                </div>
                <div class="hasDislikes">
                    <span>{{answer.dislikes && answer.dislikes > 0 ? answer.dislikes: null}}</span>
                    <ng-icon  class="icons" (click)="handleAnswerDislikes(answer.id!, answer.user_id, answer.dislike_ids!, answer.like_ids!)" name="matThumbDownOutline"></ng-icon>
                </div>
                <div [ngClass]="answer.has_solved ? 'solved': 'unsolved'" (click)="handleHasSolved(answer.id!, answer.question_id)">
                    <ng-icon name="matCheckBoxOutline"></ng-icon>
                </div>
                <div>
                   <ng-icon name="matReplyOutline" class="icons" (click)="handleAnswerReply(answer.question_id, answer.username, answer.user_id)"></ng-icon>
                </div>
                <div *ngIf="user && user.id === answer.user_id || user && user.id === answer.answerer_id && user.id !== answer.user_id || user && user.is_admin">
                    <ng-icon name="matEditOutline" class="icons" (click)="handleAnswerEdit(answer)"></ng-icon>
                </div>
                <div *ngIf="user && user.is_admin" class="icons">
                    <ng-icon name="matDeleteOutline" class="icons" (click)="handleAnswerDelete(answer.id!)"></ng-icon>
                </div>
            </div>
    </div>
</div>
