@import '../../../../variables';
.container{
    @include container;
}
.displayForumTheme{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.fieldWrapper{
    width: 30%;
    padding: 2px;
    border: 1px solid $fontColor;
    margin: 5px;
    & .video{
        width: 100%;
        height: 150px;
    }
    & .bibliothek_title, .bibliothek_ressort{
        color: $fontColor;
    }
}
.formWrapper{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    
    & .bibliothekForm{
        width: 100%;
        display: flex;
        flex-direction: column;

        & .formGroup{
            width: 100%;
            display: flex;
            flex-direction: column;
            & .label{
                color: $fontColor;
                margin: 2px 0;
            }
            & .input{
                width: 100%;
            }
        }
        & .buttonWrapper{
            width: 100%;
            margin-top: 10px;

            & .mainButton{
                @include mainButton;
            }
        }
    }
}