<div class="formWrapper">
    <div class="closeWrapper">
        <span class="close" (click)="handleClose()">X</span>
    </div>
    <form [formGroup]="editAdminMessageForm" (ngSubmit)="onSubmit()" class="editAdminMessageForm">
        <div class="formGroup">
            <label class="label" for="message">Ihre Nachricht</label>
            <textarea id="message" formControlName="message" class="input" placeholder="Ihre Nachricht"></textarea>
            <div class="error" *ngIf="editAdminMessageForm.get('message')?.invalid && editAdminMessageForm.get('message')?.touched">Nachricht ist ein Pflichtfeld</div>
        </div>
        <div class="buttonWrapper">
            <button type="submit" class="mainButton">Absenden</button>
        </div>
    </form>
</div>
