@import '../../../variables';

.container{
    width: 100%;
    height: 120px;

    & .logo{
        height:100%;
        width: 80px;

        & img{
            width: 100%;
            height: 100%;
        }
    }
    & .nav{
        width:calc(100% - 80px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .linkList{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            & #anchor{
                color: $fontColor;
            }
            & #anchor:hover{
                color: #f0f0f0e0;
            }
        }
    }
}