<div class="container">
    <app-navbar *ngIf="windowWidth > 560"></app-navbar>
    <app-mobile-navbar *ngIf="windowWidth < 560"></app-mobile-navbar>
    <div class="contentWrapper">
        <div class="picture">
            <img src="assets/img/programming.jpeg" alt="Computer mit Code" id="mainImage">
        </div>
        <div class="blogName">
            <h1 class="title">Programmieren für Ü 40</h1>
            <p class="name">Ein Blog von Roman Armin Rostock</p>
        </div>
    </div>
</div>
