<div class="container">
    <div class="logo">
        <a [routerLink]="['/']">
        <img src="assets/img/roman.jpg" alt="Roman Armin Rostock">
    </a>
    </div>
    <nav class="navbar">
        <ng-icon name="matMenuOutline" class="icons" id="menuButton" (click)="handleMenu()"></ng-icon>
        <ul *ngIf="menu" class="linkList">
            <li class="navli" *ngFor="let navlink of navlinks">
                <a [routerLink]="[navlink.url]" id="anchor">{{navlink.name}}</a>
            </li>
            <li class="navli" *ngIf="user" (click)="handleLogout()">Logout</li>
            <li class="navli" *ngIf="user && user.is_admin"><a [routerLink]="['/dashboard']" id="anchor">Dashboard</a></li>
        </ul>
    </nav>
</div>
