<div class="container">
    <app-navbar *ngIf="windowWidth > 560"></app-navbar>
    <app-mobile-navbar *ngIf="windowWidth < 560"></app-mobile-navbar>
    <div class="contentWrapper">
        <div class="fieldWrapper" *ngFor="let blog of allBlogEntries$ | async">
            <a [routerLink]="['/blog/', blog.id]" class="blogAnchor">
                <div class="textWrapper">
                    <h3 class="blogTitle">{{blog.blog_title}}</h3>
                    <p class="blogAuthor">{{blog.blog_author}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
