<div class="container">
    <div class="displayForumTheme">
        <div class="fieldWrapper" *ngFor="let forumTheme of allForumThemes$ | async">
            <h3 class="forumThemeTitle">{{forumTheme.title}}</h3>
            <h3 class="forumThemeRessort">{{forumTheme.ressort}}</h3>
            <p class="content" >{{forumTheme.content}}</p>
            <div class="iconWrapper">
                <ng-icon name="matEditOutline" class="icons" (click)="handleEdit(forumTheme)"></ng-icon>
                <ng-icon name="matDeleteOutline" class="icons" (click)="handleDelete(forumTheme.id!)"></ng-icon>
            </div>
        </div>
    </div>
    <div class="formWrapper">
        <h3 class="title" *ngIf="!editModule">Forumthema einpflegen</h3>
        <h3 class="title" *ngIf="editModule">Forumthema updaten</h3>
        <div class="editWrapper" *ngIf="editModule">
            <app-forum-themes-edit [editData]="editData" (closeEdit)="handleClose()"></app-forum-themes-edit>
        </div>
        <form *ngIf="!editModule" [formGroup]="forumThemeForm" (ngSubmit)="onSubmit()" class="forumThemeForm">
            <div class="formGroup">
                <label for="title" class="label">Titel</label>
                <input type="text" 
                        id="title" formControlName="title" class="input">
            </div>
            <div class="formGroup">
                <label for="ressort" class="label">Ressort</label>
                <input type="text" 
                        id="ressort" formControlName="ressort" class="input">
            </div>
            <div class="formGroup">
                <label for="content" class="label">Inhalt des Forumthemas</label>
                <textarea name="content" id="content" formControlName="content"class="input" placeholder="Inhalt des Forumthemas"></textarea>
            </div>
            <div class="buttonWrapper">
                <button class="mainButton">Absenden</button>
            </div>
        </form>
    </div>
</div>

