$fontColor: #f0eeee;
$mainBg: rgb(53, 11, 202);
$secondBg: #03043b;
$elementColor: rgba(7, 179, 50, 0.333);

@mixin mainButton{
    padding: 5px;
    color: $fontColor;
    background: $secondBg;
    cursor: pointer;
}
@mixin container{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background: $mainBg;
}