*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
.error{
    color: red;
    margin: 5px 0;
}
.icons{
    font-size: 24px;
    color: white;
}

