<div class="container">
    <app-navbar *ngIf="windowWidth > 560"></app-navbar>
    <app-mobile-navbar *ngIf="windowWidth < 560"></app-mobile-navbar>
    <div class="contentWrapper">
        <div class="linkWrapper">
            <ul class="forumLinks">
                <li class="forumLi" *ngFor="let forumLink of forumLinks"><a [routerLink]="['/forum/' ,forumLink.name]" class="forumAnchor">{{forumLink.name}}</a></li>
                <li class="forumLi" *ngIf="user"><a [routerLink]="['/account/', user.id]" class="forumAnchor" id="accountAnchor">{{user.username}}</a></li>
            </ul>
        </div>
        <div class="forumThemeWrapper">
            <div class="fieldWrapper" *ngFor="let forumTheme of allForumThemes$ | async">
                <h3 class="forumTitle">{{forumTheme.title}}</h3>
                <h4 class="forumRessort">{{forumTheme.ressort}}</h4>
                <p class="content">{{forumTheme.content}}</p>
            </div>
        </div>
    </div>
</div>
