@use '../../../variables' as *;
.container{
    @include container;
}
.contentWrapper{
    width: 100%;
    height: inherit;

    & .linkWrapper{
        width: 100%;
        height: 30px;

        .forumLinks{
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            list-style: none;
            padding: 10px;

            & .forumLi{
                width: 200px;
                height: 25px;
                background: $elementColor;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
               
                & .forumAnchor{
                    color: $fontColor;
                    cursor: pointer;
                    font-size:20px;
    
                }
            }
        }
    }
    & .forumThemeWrapper{
        width: 80%;
        margin: 20px auto;

        & .fieldWrapper{
            width: 100%;
            height:200px;
            margin: 5px;
            border: 1px solid $fontColor;
            padding: 20px;

            & .forumTitle, .forumRessort, .content{
                color: $fontColor;
                font-size: 22px;
                margin: 10px 0;
            }
            & .forumTitle{
                font-size: 26px;
            }
        }
    }
}