<div class="container">
    <div class="contentWrapper">
        <div class="displayWrapper" *ngIf="blogEntrie$ | async as blog">
            <div class="topBar">
                <div class="titleAuthor">
                    <h1 class="title">{{blog.blog_title}}</h1>
                    <p class="author">Von {{blog.blog_author}}</p>
                </div>
                <div class="backWrapper">
                    <button class="mainButton" (click)="goBack()">Zurück</button>
                </div>
            </div>
            <hr class="headRow">
            <div class="descriptionWrapper">
                <p class="desc">{{blog.blog_theme}}</p>
            </div>
            <div class="contentHolder">
                <p class="content">{{blog.blog_content}}</p>
            </div>
            <div class="imagesWrapper" *ngIf="blog && blog.images && blog.images.length && blog.images.length > 0">
                <img [src]="image" [alt]="blog.blog_title" class="image" *ngFor="let image of blog.images;">
            </div>
        </div>
    </div>
</div>
